
.post-tags {
    color: #aaa;
    font-weight: 300;
    font-size: 1.4rem;
    font-variant: small-caps;
    text-align: center;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 80px;
}

.post-tags-item {
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 1.1rem;
    background: #ededed;
    color: #666;
    letter-spacing: 1px;
    margin: 0 0.5rem;
    transition: background-color .7s;
}

.post-tags-item:hover {
    border: none;
    background: #666;
    color: #ededed;
}

